@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i&display=swap');

@font-face {
    font-family: 'wild';
    src: url('../fonts/WildYouth-Regular.otf');
}
header {
    margin: 0;
}

/*-------------------------------------------------------Nav*/

.nav {
    background-color: lightblue;
    font-family: 'wild', sans-serif;
    font-size: 35px;
    text-decoration: none;
    background: url(../images/mountain.jpg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
       
}
.nav-pills .nav-link {
    border-radius: 0;
    color: #ffffff;
  }

.dropdown-menu {
    opacity: 0.7;
    font-size: 20px;
    box-shadow: none;
}
.dropdown:active {
    background-color: none;
}


/*-------------------------------------------------------Background*/ 
.background-img-container {
    background: url(../images/mountain.jpg);
    background-size: cover;
    background-position: center;
    height: 200vh;
    margin-top: 0px;
    
}

.background-content-img-container {
    background: url(../images/mountain.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 0px;
    
}

.page-heading {
    font-family: 'wild';
    font-size: 125px;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-top: 30vh;   
}

.page-intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    margin-top: 10vh;
}

/*-------------------------------------------------------Info Box*/
.lg-info-box {
    background:#558764;
    min-height: 360px;
}

.md-info-box {
    background: #1f4b58;
    min-height: 360px;
}
#info-box-right {
    text-align: right;
    padding: 10vh 5vw;
}

#info-box-left {
    text-align: left;
    padding: 10vh 10vw 5vh 5vw;
}
#info-heading {
    font-family: 'wild', sans-serif;
    font-size: 60px;
    color: #ffffff;
}

#info-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 30px 0 15px 0;
    color: #ffffff;
}

.text-link{
    text-decoration: underline;
    color: #ffffff;
}
/*-------------------------------------------------------Contact Form*/
.contact-form{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/*-------------------------------------------------------Footer*/
#footer {
    background: url(../images/mountain.jpg);
    background-position: center;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.footer-heading {
    font-family: 'wild', sans-serif;
    font-size: 35px;
}
.footer-text {
    font-family: 'Montserrat', sans-serif;
    padding: 0 70px;
    font-size: 20px;
}

.social-links li a i {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    padding: 22px 15px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 8px;
    text-align: center;
    color: #ffffff;
    background: #0098a3;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/*-------------------------------------------------------Images*/
.md-img-box {
    background: palegreen;
    min-height: 360px;
    background-size: contain;
    
}

.lg-img-box {
    background: orange;
    min-height: 360px;
}

#history-img {
    background: url(../images/viking.jpg);
    background-size: cover;
    background-position: center;
    min-height: 360px;
}

#history-visit-img {
    background: url(../images/museum.jpg);
    background-size: cover;
    background-position: center;
    min-height: 360px;
}

#summer-img {
    background: url(../images/hiking.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 360px;
}

#winter-img {
    background: url(../images/ski.jpg);
    background-size: cover;
    background-position: center;
    min-height: 360px;
}
#winter-visit-img {
    background: url(../images/bruksvallarna.jpg);
    background-size: cover;
    background-position: center;
    min-height: 360px;
}

/*-------------------------------------------------------Buttons*/
.btn {
    border: 3px solid;
}
.btn-outline-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #ffffff;
    align-items: center;
}

/*-------------------------------------------------------Hover*/
.hvr-underline-from-center:before {
    background: #ffffff;
}

.btn-outline-primary:hover {
    background-color: #eccb71;
    border-color: #ffffff;
}

.social-links li a i:hover {
    background: #5c10e8;
}

.text-link:hover {
    color: rgb(255, 170, 58);
}